# Directories
.vs/
.vscode/
host/Binaries/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.slnx
*.log
Makefile

# Exclude
!host/Vendor/Binaries/
host/Roms/
host/Dist/

# Windows
host/Windows/Resources/resources.aps
drivers/Windows/USB
