# Directories
.vs/
.vscode/
Binaries/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.slnx
*.log
Makefile

# Exclude
!Vendor/Binaries/
Roms/
Dist/

# Windows
Windows/Resources/resources.aps
Windows/USB
